USE [master]
GO
/****** Object:  Database [TESTSPEED]    Script Date: 10/8/2023 8:11:54 AM ******/
CREATE DATABASE [TESTSPEED]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TESTSPEED', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TESTSPEED.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TESTSPEED_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TESTSPEED_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TESTSPEED].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TESTSPEED]
GO
/****** Object:  User [yuna]    Script Date: 10/8/2023 8:11:54 AM ******/
CREATE USER [yuna] FOR LOGIN [yuna] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [yuna]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [yuna]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [yuna]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [yuna]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [yuna]
GO
ALTER ROLE [db_datareader] ADD MEMBER [yuna]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [yuna]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [yuna]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [yuna]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 10/8/2023 8:11:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[idTest] [int] IDENTITY(1,1) NOT NULL,
	[score] [int] NOT NULL,
	[userName] [nchar](10) NOT NULL,
	[idStudent] [int] NOT NULL,
	[course] [nchar](10) NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
	[speed] [nchar](8) NULL,
	[time] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Practice]    Script Date: 10/8/2023 8:11:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Practice](
	[idPractice] [int] IDENTITY(1,1) NOT NULL,
	[score] [int] NOT NULL,
	[userName] [nchar](10) NOT NULL,
	[idStudent] [int] NOT NULL,
	[course] [nchar](10) NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
	[speed] [nchar](8) NULL,
	[time] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/8/2023 8:11:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userName] [nchar](10) NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
	[idStudent] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_User] FOREIGN KEY([idStudent])
REFERENCES [dbo].[User] ([idStudent])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_User]
GO
ALTER TABLE [dbo].[Practice]  WITH CHECK ADD  CONSTRAINT [FK_Practice_User] FOREIGN KEY([idStudent])
REFERENCES [dbo].[User] ([idStudent])
GO
ALTER TABLE [dbo].[Practice] CHECK CONSTRAINT [FK_Practice_User]
GO
USE [master]
GO
